<nav class="navbar" style="background-color: #39261f;">
  <a class="navbar-brand" style="cursor:pointer;">
    <img src="assets/site_header_logo.png" height="30" class="d-inline-block align-top touch">
  </a>
  <div class="justify-content-end">

    <a class="nav-item mr-3" style="cursor:pointer;">
      <img (click)="onOpenModal()" src="assets/btn_map.png" height="30" class="d-inline-block align-top touch">
    </a>
    <a class="nav-item" style="cursor:pointer;">
      <img (click)="onToggle()" src="assets/btn_menu.png" height="30" class="d-inline-block align-top touch">
      <div  [ngClass]="{'dropdown-menu':true, 'fixRight':dropdownIsOpen}">
          <button class="dropdown-item" type="button">Action</button>
          <button class="dropdown-item" type="button">Another action</button>
          <button class="dropdown-item" type="button">Something else here</button>
      </div>
    </a>
  </div>
</nav>
