<div [ngStyle]="{'display': this.notepadService.display}" class="map">
    <div id="close"
         class="selecter"
         (click)="onClose()"></div>
    <div id="sel_{{i}}"
         class="selecter"
         *ngFor="let i of number"
         (click)="onChange(i)"></div>
</div>
<div [ngStyle]="{'display': this.displayLevaelPassing}" class="level">
  <div id="reset" (click)="reset()"></div>
  <div id="next" (click)="nextLevel()"></div>
  <div id="current-level">{{this.currentLevel}}</div>
</div>
