

<div [ngStyle]="{'display': this.notepadService.display}" class="map">
    <div [ngStyle]="{'display': this.isMin ? 'none' : 'block'}"
         class="arrowLeft"
         (click)="lastBlock()">
      <img src="assets/arrowLeft.png" class="img-fluid" alt="">
    </div>
    <div [ngStyle]="{'display': !this.isMax ? 'none' : 'block'}"
         class="arrowRight"
         (click)="nextBlock()">
      <img src="assets/arrowRight.png" class="img-fluid" alt="">
    </div>
    <div id="close"
         class="selecter"
         (click)="onClose()"></div>
    <div id="sel_{{i}}"
         class="selecter"
         *ngFor="let i of number"
         (click)="onChange(i)"></div>
</div>
<div [ngStyle]="{'display': this.displayLevaelPassing}" class="level">
  <div id="reset" (click)="reset()"></div>
  <div id="next" (click)="nextLevel()"></div>
  <div id="current-level">{{this.currentLevel}}</div>
</div>
